<plugin name='proxool' version='0.2' grailsVersion='1.3.7 &gt; *'>
  <author>Karol Balejko</author>
  <authorEmail>kb@groovydev.org</authorEmail>
  <title>Proxool jdbc connection pool plugin</title>
  <description>Grails plugin for proxool jdbc connection pool.</description>
  <documentation>http://grails.org/plugin/proxool</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>ProxoolConfig</resource>
    <resource>UrlMappings</resource>
    <resource>org.groovydev.domain.Foo</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>